body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 1;
}

h1 {
    color:black;
    font-family: 'Segoe UI', sans-serif;
    font-size: 24px;
    text-align: center;
}

nav {
    color: cornflowerblue;
    text-align: center;
}

.header-banner {
    width: 100%;
    max-width: 350px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-card {
    background: white;
    border: 5px solid black;
    padding: 20px;
    border-radius: 8px;
    flex: 0 0 calc(24% - 15px); 
    box-sizing: border-box;
}

.article-title {
    color:#10296d;
}

.article-body {
    font-size:23;
}

.article-author {
    font-style: italic;
    font-weight: bold;
}

.author-email {
    font-weight: lighter;
}

.blog {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto;
    gap: 30px;
    border-radius: 8px;
}

.header-title {
    text-decoration: none;
    color: black;
}

.error {
    color: red;
}

.success {
    color: green;
}

.waiting {
    color: steelblue;
}

.header-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 50px;
}

.create-post {
    align-items: right;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    height: fit-content;    /* Ensures the button only takes up as much height as its own text needs */
}

.approves {
    display: flex;            /* Activates layout engine */
    justify-content: center;  /* Centers the buttons horizontally */
    align-items: center;      /* Centers the buttons vertically (if container has height) */
    gap: 15px;                /* Adds clean spacing between the two buttons */
    
    width: 100%;              /* Stretches the container full width */
    padding: 20px 0;
}